:root {
  --clr-neutral: #fefedf;
  --clr-secondary: #845ec2;
  --clr-primary: #c493ff;
  --clr-distant: #00c9a7;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-neutral);
  font-size: 0.9rem;
  font-weight: 400;
  min-height: 100vh;
}

.my-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 1fr;
}

header {
  background-color: var(--clr-secondary);
}
h1 {
  color: var(--clr-neutral);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
  transition: all 0.3s;
}
a:hover {
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
}

footer {
  color: var(--clr-neutral);
  background-color: var(--clr-secondary);
}
.welcome {
  text-align: center;
  margin: 0;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--clr-distant);
  color: var(--clr-neutral);
  padding: 0.2rem 0.2rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0.2rem;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}
.form-wrapper label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2rem;
}
.form-wrapper label input {
  font-size: 1.3rem;
  width: 280px;
}
.btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.btn-wrapper input {
  border: none;
  font-weight: inherit;
  border: 2px solid var(--clr-neutral);
  border-radius: 5px;
  padding: 0.4rem;
  background-color: var(--clr-neutral);
  color: #2f4858;
  transition: all ease 0.3s;
}
.btn-wrapper input:hover {
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
}

@media (min-width: 768px) {
  .header-container {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
